.offerings {
    padding: 40px 0 60px;

    @media screen and (min-width: 768px) {
        padding: 60px 0 100px;
    }

    @media screen and (min-width: 1280px) {
        padding: 100px 0 40px;
    }

    &__image {
        width: 280px;
        height: 310px;

        @media screen and (min-width: 768px) {
            width: 740px;
            height: 394px;
        }

        @media screen and (min-width: 1280px) {  
            width: 550px;
            height: 604px;
        }      
    }

    &__content {
        margin-top: 60px;

        @media screen and (min-width: 1280px) {
            margin-top: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        margin-bottom: 28px;

        @media screen and (min-width: 768px) {
            font-size: 42px;
            line-height: 1.17;
            margin-bottom: 20px;
        }
    }

    // &__text {

    // }

    // &__services-list {

    // }

    // &__services-item {

    // }

    // &__services-title {

    // }

    // &__services-text {

    // }
}