:root {
    --main-font: 'Roboto', 'Arial', 'sans Serif';
    --main-text: #2C2C2C;
    --nav-text: #000000;
    --placeholder-footer: #505050;
    --placeholder-modal: #C4C4C4;
    --accent-color: #7EB101;
    --btn-green: #BBF330;
    --btn-hover: #B5FF00;
    --yellow-main: #FFE550;
    --darkgreen-hover: #597D00;
    --error-red: #FF705D;
    --error-white: #FAEDEB;
    --main-bcg: #FEFEFE;
    --white-bcg: #FFFFFF;
    --modal-backdrop: rgba(94, 99, 99, 0.7);
}